{
	"api": {
		"app_id": "api",
		"google_application_credentials": "credentials.json",
		"braintree": {
			"publicKey": "",
			"privateKey": "",
			"merchantId": "",
			"isProd": false
		},
		"agora": {
			"appId": "",
			"appCertificate": "",
			"apiKey": "",
			"apiSecret": ""
		},
		"emails": {
			"no_reply": {
				"private_key": "",
				"client_id": ""
			}
		}
	},
	"general": {
		"app_id": "general",
		"environment": "local",
		"super_admin": "test@email.com",
		"access_token_key": "access-token",
		"refresh_token_key": "refresh-token",
		"mongodb_uri": "mongodb://mongodb/telespital-local?replicaSet=rs0",
		"redis_uri": "redis://redis:6379",
		"kafka_uris": "kafka:9092",
		"debezium_url": "debezium:8083"
	},
	"root": {
		"base_domain": "localhost",
		"use_ssl": 0,
		"port": 8080
	}
}